header {
    background-color: deepskyblue;
    color: white;
    padding: 0.2%;
    text-align: center;
    font-size: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    z-index: 1000;
    /*clip-path: polygon(0% 0%, 100% 0%, 50% 300%);*/
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); /* Легка тінь */

}
body {
    padding-top: 80px; /* Додаємо відступ, щоб контент не заходив під хедер */
}
