@import "index.survey.css";
@import "index.header.css";
@import "index.footer.css";





/* 📌 Планшети (до 1024px) */
@media (max-width: 1024px) {
    header {

        clip-path: polygon(0% 0%, 100% 0%, 50% 150px);
        padding: 0.2%;
        font-size: 0.5rem;
    }

    footer {
        padding: 40px 20px;
        clip-path: polygon(50% -150px, 0% 100%, 100% 100%);
    }

    header h1 {
        font-size: 2.2rem;
    }

    footer h1 {
        font-size: 2.2rem;
    }
}

/* 📌 Мобільні телефони (до 768px) */
@media (max-width: 768px) {
    header {
        padding: 0.1%;
        font-size: 0.5rem;
        clip-path: none;
    }

    footer {
        padding: 0.1%;
        font-size: 0.5rem;
        clip-path: none;
    }

    header h1 {
        font-size: 1.1rem;
    }

    footer h1 {
        font-size: 1.1rem;
    }
}

/* 📌 Маленькі екрани (до 480px) */
@media (max-width: 480px) {
    header {
        padding: 0.1%;
        font-size: 0.5rem;
        clip-path: none;
    }

    footer {
        padding: 0.1%;
        font-size: 0.5rem;
        clip-path: none;
    }

    header h1 {
        font-size: 1rem;
    }

    footer h1 {
        font-size: 1rem;
    }
}



